<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI on Vercel</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Hello from FastAPI@{{ version }}</h1>
        <ul>
            <li><a href="/docs">Explore our Docs</a></li>
            <li><a href="/redoc">Explore our ReDoc</a></li>
        </ul>
        <p>Powered by <a href="https://vercel.com" target="_blank">Vercel</a></p>
        <p>&copy; {{ current_year }} <a href="https://www.twitch.tv/onenboy" target="_blank">onenboy</a>. All rights reserved.</p>
    </div>
</body>
</html>
